<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Scenery</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			html{
				font-size:100px !important;
				height:100%;
				width:100%;
			}
			body {
				color: #000;
				font-family: Monospace;
				font-size:13px;
				text-align:center;
				font-weight: bold;

				background-color: #fff;
				margin: 0px;
				overflow: hidden;
			}

			#info {
				position: absolute;
				padding: 10px;
				width: 100%;
				text-align: center;
			}

			a {
				text-decoration: underline;
				cursor: pointer;
			}

		</style>
	</head>

	<body>
		<script src="../static/js/three.js"></script>
		<script src="../static/js/Detector.js"></script>
		<script src="../static/js/OrbitControls.js"></script>
		<script src="../static/js/stats.min.js"></script>
		<script src="../static/js/Cloth.js"></script>
		<script src="../static/js/Sky.js"></script>
		<script src="../static/js/dat.gui.min.js"></script>
		<script src="../static/js/Tween.js"></script>
		<script  type="module"  src="../static/js/meshes1.js"></script>	
		<script src="../static/js/jquery-3.3.1.min.js"></script>	
		<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
	</body>
</html>
